.ftr__btn, .ftr-socialLinks__ellipse, .ftr-socialLinks__block, footer, .social-links__ellipse, .social-links, .our-team__card-info, .our-team__block, .ourservices__label, .ourservices__pictures, .ourspecialty-box__rectangle, .ourspecialty__block, .btn__box, .checkbox__container, .solution__block, .solution, .header__EmailPhone, .header__block, .header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ftr-email__field::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

#ftr-email__field::placeholder, .ftr-address, .our-team__card-subtitle, .ourspecialty-box__text, .checked, .text--envelope,
.phone-number, .nav__item {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.ftr-email__title, .ftr-socialLinks__title, .regular-clients__title, .our-team__title, .ourservices__label p, .ourservices__title, .ourspecialty-box__title {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
}

.header {
  height: 80px;
  background-color: #FFF;
}
.header__EmailPhone {
  width: 333px;
  height: 16px;
  justify-content: space-between;
  margin-left: 315px;
}
.header-email-item {
  display: flex;
  align-items: center;
}
.header-phone-item {
  display: flex;
  align-items: center;
}
.header-line {
  border: none;
  background-color: #ececec;
  height: 1px;
  margin: 0;
}

.nav {
  list-style: none;
  display: flex;
  margin-left: 93px;
}
.nav__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin-right: 53px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__item a {
  text-decoration: none;
  color: #212121;
  padding-bottom: 32px;
  position: relative;
}

.nav__item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  transition: width 500ms ease-out;
}

.nav__item a:hover::after {
  width: 100%;
}

.nav__item a:hover {
  color: #2196F3;
}

.text--envelope,
.phone-number {
  margin-left: 10px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  cursor: pointer;
}

.icon--email {
  fill: #757575;
}

.icon--phone {
  fill: #757575;
}

.header-email-item:hover .text--envelope,
.header-phone-item:hover .phone-number {
  color: #2196F3;
}

.header-email-item:hover .icon--email use,
.header-phone-item:hover .icon--phone use {
  fill: #2196F3;
}

.solution {
  margin-bottom: 60px;
}
.solution__block {
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 164px;
}
.solution__title {
  color: #FFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 1.56px;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .solution {
    margin-bottom: 94px;
  }
  .solution__block {
    width: 696px;
    height: 200px;
  }
  .solution__title {
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 2.64px;
  }
}
.solution {
  background-size: cover;
  background-position: center;
  height: 400px;
  background-image: url(../assets/solution-mobile@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .solution {
    background-image: url(../assets/solution-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .solution {
    background-image: url(../assets/solution-tablet@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .solution {
    background-image: url(../assets/solution-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .solution {
    height: 600px;
    background-image: url(../assets/solution-desk@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .solution {
    background-image: url(../assets/solution-desk@2x.jpg);
  }
}

.mw__text {
  font-family: "Roboto", sans-serif;
  line-height: normal;
  letter-spacing: 0.12px;
  font-size: 12px;
  font-weight: 400;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: visible;
  opacity: 1;
  z-index: 3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: none;
}

.modal-window {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.modal-window__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.icon-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.icon-button__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: black;
}

.field__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.field__wrapper:first-child {
  margin: 0;
}

.field__title {
  color: #757575;
  margin-bottom: 4px;
}

.field__box {
  position: relative;
}

.field__icon {
  position: absolute;
  left: 11px;
  bottom: 12px;
}

.field {
  padding: 11px 12px;
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
}

.area {
  padding: 12px 16px;
  height: 120px;
}
.area::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.field__box:hover .field__icon use,
.icon-button:hover .icon-button__icon use,
.field__wrapper:hover .area,
.field__box:hover .field {
  border-color: #2196F3;
  fill: #2196F3;
}

.checkbox__container {
  margin-top: 20px;
}

.checkbox__container input {
  width: 16px;
  height: 15px;
  margin: 0;
}

.checked {
  font-family: "Roboto", sans-serif;
  color: #757575;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 8px;
}
.checked a {
  color: #2196F3;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.btn__box {
  margin-top: 30px;
}

.btn {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background: #188ce8;
}

.btn-send {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
}
.btn-send-send {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
  background: #2196f3;
}
.btn-send-send:hover {
  background: #188ce8;
}

.ourspecialty__block {
  justify-content: space-between;
  margin-bottom: 94px;
}
.ourspecialty-box {
  width: 270px;
  height: 248px;
}
.ourspecialty-box__boxSmall {
  height: 224px;
}
.ourspecialty-box__rectangle {
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-bottom: 30px;
}
.ourspecialty-box__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.ourspecialty-box__text {
  color: #757575;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.ourservices__title {
  color: #212121;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.ourservices__pictures {
  justify-content: space-between;
  margin-top: 50px;
}
.ourservices__image {
  width: 370px;
  height: 294px;
  position: relative;
}
.ourservices__label {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.ourservices__label p {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.our-team {
  background-color: #F5F4FA;
  width: 100%;
  height: 708px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 94px;
  margin-bottom: 94px;
}
.our-team__block {
  justify-content: space-between;
}
.our-team__title {
  color: #212121;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.our-team__card {
  width: 270px;
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.our-team__card-image {
  height: 260px;
}
.our-team__card-info {
  flex-direction: column;
}
.our-team__card-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.our-team__card-subtitle {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}

.social-links {
  width: 206px;
  justify-content: space-between;
}
.social-links .social-icon {
  fill: #AFB1B8;
}

.social-links__ellipse {
  width: 44px;
  height: 44px;
  background-color: #FFF;
  border-radius: 50%;
}
.social-links__ellipse:hover {
  background-color: #2196F3;
  cursor: pointer;
}
.social-links__ellipse:hover .social-icon use {
  fill: white;
}

.regular-clients__title {
  color: #212121;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.regular-clients__block {
  width: 1170px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.regular-clients__icon {
  fill: #AFB1B8;
}

.regular-clients__card {
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 170px;
  margin-right: 30px;
}
.regular-clients__card:last-child {
  margin: 0;
}
.regular-clients__card:hover {
  border: 1px solid #2196F3;
  cursor: pointer;
}
.regular-clients__card:hover .regular-clients__icon use {
  fill: #2196F3;
}

footer {
  width: 100%;
  height: 252px;
  background-color: #2f303a;
  margin-top: 94px;
}

.ftr {
  display: flex;
  justify-content: center;
}
.ftr__block--address {
  width: 231px;
  height: 132px;
  margin-right: 70px;
}
.ftr-address__text {
  margin-top: 20px;
}
.ftr-address {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.ftr__socialLinks {
  margin-right: 93px;
  margin-top: 12px;
}
.ftr-socialLinks__title {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.ftr-socialLinks__block {
  width: 206px;
  height: 80px;
  justify-content: space-between;
}
.ftr-socialLinks__ellipse {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.ftr-socialLinks__ellipse:hover {
  background-color: #2196F3;
  cursor: pointer;
}
.ftr-socialIcon {
  fill: #FFF;
}
.ftr__email {
  width: 570px;
  height: 86px;
  margin-top: 12px;
  position: relative;
}
.ftr-email__title {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.ftr__emailBtn {
  display: flex;
  justify-content: space-between;
}
.ftr__btn {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
  margin-left: 12px;
}
.ftr-sendIcon {
  margin-left: 10px;
}

.ftr__block--address svg use {
  color: #FFF;
}

.ftr-address__text .text--envelope,
.ftr-address__text .phone-number {
  margin-left: 0;
}

.ftr-address__text .text--envelope {
  margin-bottom: 9px;
  margin-top: 9px;
}

#ftr-email__field {
  background: transparent;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}
#ftr-email__field::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48px;
}
#ftr-email__field::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}