.ftr__btn, .ftr-socialLinks__ellipse, .ftr-socialLinks__block, footer, .portfolio__overlay, .portfolio__block, .header__EmailPhone, .header__block, .header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ftr-email__field::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

#ftr-email__field::placeholder, .ftr-address, .portfolio__text-subtitle, .text--envelope,
.phone-number, .nav__item {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.ftr-email__title, .ftr-socialLinks__title, .portfolio__text-title {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
}

.header {
  height: 80px;
  background-color: #FFF;
}
.header__EmailPhone {
  width: 333px;
  height: 16px;
  justify-content: space-between;
  margin-left: 315px;
}
.header-email-item {
  display: flex;
  align-items: center;
}
.header-phone-item {
  display: flex;
  align-items: center;
}
.header-line {
  border: none;
  background-color: #ececec;
  height: 1px;
  margin: 0;
}

.nav {
  list-style: none;
  display: flex;
  margin-left: 93px;
}
.nav__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin-right: 53px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__item a {
  text-decoration: none;
  color: #212121;
  padding-bottom: 32px;
  position: relative;
}

.nav__item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  transition: width 500ms ease-out;
}

.nav__item a:hover::after {
  width: 100%;
}

.nav__item a:hover {
  color: #2196F3;
}

.text--envelope,
.phone-number {
  margin-left: 10px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.icon--email {
  fill: #757575;
}

.icon--phone {
  fill: #757575;
}

.header-email-item:hover .text--envelope,
.header-phone-item:hover .phone-number {
  color: #2196F3;
}

.header-email-item:hover .icon--email use,
.header-phone-item:hover .icon--phone use {
  fill: #2196F3;
}

.portfolio {
  height: 1548px;
  padding-top: 94px;
  display: flex;
  justify-content: center;
}
.portfolio__block {
  width: 1170px;
  flex-direction: column;
}
.portfolio__block-cards {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio__card {
  overflow: hidden;
  width: 370px;
  height: 404px;
  margin-bottom: 30px;
  border: 1px solid #eee;
  background: #FFF;
  position: relative;
}
.portfolio__card:hover {
  border: 1px solid #eee;
  background: #FFF;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio__lastcard {
  margin-bottom: 0;
}
.portfolio__card-img {
  overflow: hidden;
  width: 370px;
  height: 294px;
  position: relative;
}
.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 800ms ease-in-out;
}
.portfolio__overlay-text {
  width: 322px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
}
.portfolio__card-text {
  margin: 20px 24px;
}
.portfolio__text-title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 1.08px;
  width: 322px;
}
.portfolio__text-subtitle {
  margin-top: 4px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.48px;
  width: 322px;
}

.portfolio__card:hover .portfolio__overlay {
  transform: translateY(0);
  color: #FFF;
}

footer {
  width: 100%;
  height: 252px;
  background-color: #2f303a;
  margin-top: 94px;
}

.ftr {
  display: flex;
  justify-content: center;
}
.ftr__block--address {
  width: 231px;
  height: 132px;
  margin-right: 70px;
}
.ftr-address__text {
  margin-top: 20px;
}
.ftr-address {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.ftr__socialLinks {
  margin-right: 93px;
  margin-top: 12px;
}
.ftr-socialLinks__title {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.ftr-socialLinks__block {
  width: 206px;
  height: 80px;
  justify-content: space-between;
}
.ftr-socialLinks__ellipse {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.ftr-socialLinks__ellipse:hover {
  background-color: #2196F3;
}
.ftr-socialIcon {
  fill: #FFF;
}
.ftr__email {
  width: 570px;
  height: 86px;
  margin-top: 12px;
  position: relative;
}
.ftr-email__title {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.ftr__emailBtn {
  display: flex;
  justify-content: space-between;
}
.ftr__btn {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-left: 12px;
}
.ftr-sendIcon {
  margin-left: 10px;
}

.ftr__block--address svg use {
  color: #FFF;
}

.ftr-address__text .text--envelope,
.ftr-address__text .phone-number {
  margin-left: 0;
}

.ftr-address__text .text--envelope {
  margin-bottom: 9px;
  margin-top: 9px;
}

#ftr-email__field {
  background: transparent;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}
#ftr-email__field::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48px;
}
#ftr-email__field::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}