.ftr__btn, .ftr-socialLinks__ellipse, .ftr-socialLinks__block, footer, .portfolio__overlay, .portfolio__filters-item, .portfolio__filters, .portfolio__block, .portfolio, .header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ftr-email__field::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

#ftr-email__field::placeholder, .ftr-address, .portfolio__text-subtitle {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.ftr-email__title, .ftr-socialLinks__title, .portfolio__text-title {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
}

.header {
  justify-content: space-between;
  height: 60px;
  background-color: #FFF;
}
.header .logo {
  width: 134px;
  height: 28px;
}
.header-line {
  border: none;
  background-color: #ececec;
  height: 1px;
  margin: 0;
}

@media (min-width: 768px) {
  .header {
    height: 80px;
    justify-content: center;
  }
  .header__block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__EmailPhone {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 138px;
    height: 38px;
    margin-left: 96px;
  }
  .header-email-item {
    margin-bottom: 10px;
  }
  .header-email-item, .header-phone-item {
    display: flex;
    align-items: center;
  }
  .header .text--envelope,
  .header .phone-number {
    font-size: 12px;
    font-style: normal;
    margin-left: 8px;
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.24px;
    cursor: pointer;
  }
  .header .icon--email,
  .header .icon--phone {
    fill: #757575;
  }
  .header .icon--email {
    width: 14px;
    height: 10px;
  }
  .header .icon--phone {
    height: 14px;
  }
  .header .header-email-item:hover .text--envelope,
  .header .header-phone-item:hover .phone-number {
    color: #2196F3;
  }
  .header .header-email-item:hover .icon--email use,
  .header .header-phone-item:hover .icon--phone use {
    fill: #2196F3;
  }
  .nav {
    list-style: none;
    width: 283px;
    display: flex;
    justify-content: space-between;
    margin-left: 88px;
  }
  .nav__item {
    font-size: 14px;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .nav__item a {
    text-decoration: none;
    color: #212121;
    padding-bottom: 32px;
    position: relative;
  }
  .nav__item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    transition: width 500ms ease-out;
  }
  .nav__item a:hover::after {
    width: 100%;
  }
  .nav__item a:hover {
    color: #2196F3;
  }
}
@media (min-width: 1200px) {
  .header .logo {
    width: 145px;
    height: 31px;
  }
  .header__EmailPhone {
    flex-wrap: nowrap;
    width: 333px;
    height: 16px;
    justify-content: space-between;
    margin-left: 315px;
  }
  .header-email-item {
    margin-bottom: 0;
  }
  .header .text--envelope,
  .header .phone-number {
    font-size: 14px;
    letter-spacing: 0.28px;
    margin-left: 10px;
  }
  .header .icon--email {
    width: 16px;
    height: 12px;
  }
  .header .icon--phone {
    height: 16px;
    width: 10.5px;
  }
  .nav {
    width: 285px;
    margin-left: 92px;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #FFF;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mb-menu-nav {
  list-style: none;
}
.mb-menu-nav .nav__item {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}
.mb-menu-nav .nav__item :nth-child(2) {
  margin-top: 36px;
  margin-bottom: 32px;
}
.mb-menu-nav .nav__item a {
  color: #212121;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.mb-menu-nav .nav__item a :hover {
  color: #2196F3;
}

.mb-menu {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}
.mb-menu-text {
  line-height: normal;
}
.mb-menu-text .phone-number {
  color: #2196F3;
  font-size: 34px;
  letter-spacing: 0.68px;
  margin-bottom: 32px;
}
.mb-menu-text .text--envelope {
  color: #757575;
  font-size: 24px;
  letter-spacing: 0.48px;
  margin-bottom: 64px;
}
.mb-menu__social-links {
  width: 357px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mb-menu__social-links-item {
  color: #2196F3;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.36px;
}
.mb-menu__social-links hr {
  margin: 0;
  height: 22px;
  width: 1px;
  background: rgba(33, 33, 33, 0.2);
  border: none;
}

@media (min-width: 768px) {
  .menu-toggle,
  .menu-container {
    display: none;
  }
}
@media (max-width: 767.5px) {
  .nav,
  .header__EmailPhone {
    display: none;
  }
}
.portfolio {
  margin-top: 60px;
  margin-bottom: 60px;
}
.portfolio__block {
  flex-direction: column;
  align-items: flex-start;
}
.portfolio__block-cards {
  width: 450px;
  margin-top: 40px;
}
.portfolio__filters {
  width: 326px;
  height: 91px;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.portfolio__filters-item {
  font-family: "Roboto", sans-serif;
  background: #F5F4FA;
  border-radius: 4px;
  height: 38px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  margin-bottom: 15px;
  margin-right: 8px;
}
.portfolio__filters-item:first-child {
  width: 73px;
  padding: 6px 25px;
}
.portfolio__filters-item:nth-child(3) {
  margin-right: 0;
}
.portfolio__filters-item:nth-child(4), .portfolio__filters-item:nth-child(5) {
  margin-bottom: 0;
}
.portfolio__filters-item:hover {
  background-color: #2196F3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.portfolio__filters-item a {
  text-decoration: none;
  text-transform: none;
  color: #212121;
}
.portfolio__filters-item:hover a {
  color: #FFF;
}
.portfolio__card {
  overflow: hidden;
  width: 450px;
  height: 404px;
  margin-bottom: 30px;
  border: 1px solid #eee;
  background: #FFF;
  position: relative;
}
.portfolio__card:hover {
  cursor: pointer;
  border: 1px solid #eee;
  background: #FFF;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio__card:last-child {
  margin: 0;
}
.portfolio__card-img {
  overflow: hidden;
  width: 450px;
  height: 294px;
  position: relative;
}
.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 800ms ease-in-out;
}
.portfolio__overlay-text {
  width: 402px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
}
.portfolio__card-text {
  margin: 20px 24px;
}
.portfolio__text-title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 1.08px;
  width: 402px;
}
.portfolio__text-subtitle {
  margin-top: 4px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.48px;
  width: 402px;
}

.portfolio__card:hover .portfolio__overlay {
  transform: translateY(0);
  color: #FFF;
}

@media (min-width: 768px) {
  .portfolio__block {
    align-items: center;
  }
  .portfolio__block-cards {
    width: 738px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .portfolio__filters {
    width: 575px;
    height: 38px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .portfolio__filters-item {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .portfolio__card {
    width: 354px;
    height: 440px;
  }
  .portfolio__card-img {
    width: 354px;
    height: 294px;
  }
  .portfolio__overlay-text {
    width: 306px;
  }
  .portfolio__text-title {
    width: 306px;
  }
  .portfolio__text-subtitle {
    width: 306px;
  }
}
@media (min-width: 1200px) {
  .portfolio__block {
    padding: 94px 0;
  }
  .portfolio__block-cards {
    width: 1170px;
    margin-top: 50px;
  }
  .portfolio__card {
    width: 370px;
    height: 404px;
  }
  .portfolio__lastcard {
    margin-bottom: 0;
  }
  .portfolio__card-img {
    width: 370px;
    height: 294px;
  }
  .portfolio__overlay-text, .portfolio__text-title, .portfolio__text-subtitle {
    width: 322px;
  }
}
footer {
  width: 100%;
  height: 252px;
  background-color: #2f303a;
}

.ftr {
  display: flex;
  justify-content: center;
}
.ftr__block--address {
  width: 231px;
  height: 132px;
  margin-right: 70px;
}
.ftr-address__text {
  margin-top: 20px;
}
.ftr-address {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.ftr__socialLinks {
  margin-right: 93px;
  margin-top: 12px;
}
.ftr-socialLinks__title {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.ftr-socialLinks__block {
  width: 206px;
  height: 80px;
  justify-content: space-between;
}
.ftr-socialLinks__ellipse {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.ftr-socialLinks__ellipse:hover {
  background-color: #2196F3;
  cursor: pointer;
}
.ftr-socialIcon {
  fill: #FFF;
}
.ftr__email {
  width: 570px;
  height: 86px;
  margin-top: 12px;
  position: relative;
}
.ftr-email__title {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.ftr__emailBtn {
  display: flex;
  justify-content: space-between;
}
.ftr__btn {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
  margin-left: 12px;
}
.ftr-sendIcon {
  margin-left: 10px;
}

.ftr__block--address svg use {
  color: #FFF;
}

.ftr-address__text .text--envelope,
.ftr-address__text .phone-number {
  margin-left: 0;
}

.ftr-address__text .text--envelope {
  margin-bottom: 9px;
  margin-top: 9px;
}

#ftr-email__field {
  background: transparent;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}
#ftr-email__field::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48px;
}
#ftr-email__field::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    padding: 0;
    margin: 0 auto;
  }
}