* {
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

@import "components/header";
@import "components/modalwindow";
@import "components/section-Whatwedo";
@import "components/sctn-OurClients";
@import "components/sect-RegularClients";
@import "components/footer";
@import "components/portfolio"