@import "utils/variables";
@import "utils/mixin";
@import "utils/placeholders";

@import "components/common/header";
@import "components/mobile-menu";
@import "components/sctn-solution";
@import "components/modalwindow";
@import "components/sctn-OurSpecialty";
@import "components/section-OurServices";
@import "components/sctn-OurTeam";
@import "components/sect-RegularClients";
@import "components/common/footer";

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    padding: 0;
    margin: 0 auto;
  }
}
