@import "utils/variables";
@import "utils/mixin";
@import "utils/placeholders";

@import "components/common/header";
@import "components/portfolio";
@import"components/portfolio-filters";
@import "components/common/footer";

* {
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
