@import "utils/variables";

@import "components/common/header";
@import "components/portfolio";
@import "components/common/footer";

* {
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
