.header-container{
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-left: 93px;
}

.nav-item {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.28px;
    margin-right: 53px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    text-decoration: none;
    color: #212121;
    padding-bottom: 28px;
    position: relative;
}

.nav-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    transition: width 500ms ease-out;
}

.nav-item a:hover::after {
    width: 100%;
}

.nav-item a:hover {
    color: #2196F3;
}

.block_email-and-phone {
    width: 333px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 315px;
}

.email-card {
    display: flex;
    align-items: center;
}

.text-envelope {
    margin-left: 10px;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.phone-number {
    margin-left: 10px;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.phone-card {
    display: flex;
    align-items: center;
}

.email {
    fill: #757575;
}

.phone {
    fill: #757575;
}

.email-card:hover .text-envelope,
.phone-card:hover .phone-number {
    color: #2196F3;
}

.email-card:hover .email use,
.phone-card:hover .phone use {
    fill: #2196F3;
}