.ourspecialty {
  &__block {
    @extend %flex;
    justify-content: space-between;
    margin-bottom: 94px;
  }

  &-box {
    width: 270px;
    height: 248px;

    &__boxSmall {
      height: 224px;
    }

    &__rectangle {
      @extend %flex;

      height: 120px;
      border-radius: 4px;
      background: #f5f4fa;
      margin-bottom: 30px;
    }

    &__title {
      @extend %medium-text;

      color: $mainColor;
      font-family: $mainfont;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__text {
      @extend %main-text;

      color: $notactiveColor;
      font-family: $mainfont;
      line-height: 24px;
      letter-spacing: 0.42px;
    }
  }
}
