.social-links {
    width: 206px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ellipse:hover {
    background-color: #2196F3;
}

.ellipse {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
}

.social_icon {
    fill: #AFB1B8;
}

.ellipse:hover .social_icon use{
    fill: white;
}