%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%main-text {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

%medium-text {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
}
